langchain
langchain-core
langchain-community
langchain-experimental
langchain_huggingface
langchain_groq
streamlit

unstructured[pdf]
unstructured_inference
sentence-transformers

pinecone
langchain_pinecone